<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<main>
       
       
        
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Enter your registered phone no</h4>
                <form action="" method="post">
                    <div class="mb-3">
                        <input name="phone" class="form-control" placeholder="phone no" type="number" required>
                    </div> <!-- form-group// -->
                    
                   
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100" style="background-color: rgb(187, 84, 84);"> confirm </button>
                    </div> <!-- form-group// -->
                    <%= message %>
       
                </form>
               
        <p class="font-xs">

    </section>
</main>
<style>
    /* Center align main content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Center align login card */
.card-login {
  max-width: 400px;
  text-align: center;
  margin: auto;
}

/* Center align input fields and button */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  margin-bottom: 20px;
  width: 100%;
}

</style>
</body>
</html>