

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="main">

         <!-- Sing in  Form -->
         <section class="sign-in">
          <div class="container">
              <div class="signin-content">
                  <div class="signin-image">
                      <figure><img src="/assets/images/signin-image.jpg" alt="sing up image"></figure>
                      <a href="/register" class="signup-image-link">Create an account</a>
                  </div>

                  <div class="signin-form">
                      <h2 class="form-title">Sign in</h2>
                      <form action="/login" method="POST" class="register-form" id="login-form" onsubmit="return allChecking()">
                          <div class="form-group">

                              <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              <input type="email" name="email" id="email" placeholder="Your email id"   onchange="emailValidate()"/>
                              <span id="Email" style="color: red;"></span>
                          </div>

                          
          <!-- Password input -->
          
          <div class="form-group">
            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="password" id="password" placeholder="Password"  onchange="passwordValidate()"/>
        </div>
                          <div class="form-group form-button">
                              <input type="submit" name="signin" id="signin"  onclick="emailValidate(),passwordValidate()" class="form-submit"/>
                              <a href="/forgotpassword" class="signup-image-link">Forget Password</a>
                          </div>

                          <div class="divider d-flex align-items-center my-4">
                            <% if(typeof message !=='undefined' ){ %>
                            <span id="Password" style="color: red;"><%= message %></span>
                            <% } %>
                          </div>
                          <!-- <div class="signin-image">
                            
                            <a href="/forgotpassword" class="signup-image-link">Forget Password</a>
                        </div> -->
                      </form>
                     
                  </div>
              </div>
          </div>
      </section>

  </div>

  <!-- JS -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>


  <script>
     function emailValidate(){
   let emailId=document.getElementById("email").value;
    if(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId)==false){
      document.getElementById("Email").innerHTML="Please enter valid email ";
      return false;
    }else{
      document.getElementById("Email").innerHTML="";
      return true;
    }
  }
  function passwordValidate(){
    let password=document.getElementById("password").value;
    if(password.length <5){
      document.getElementById("Password").innerHTML="please enter valied password";
      return false

    }else{
      document.getElementById("Password").innerHTML="";
      return true;
    }
  }
  function allChecking(){
    if(emailValidate()&&passwordValidate()){
      return true
    }else{
      return false
    }
  }

</script>



</body>
</html>






















<!-- <h1 class="row d-flex align-items-center justify-content-center h-100 mt-5 ">
    Login User
  </h1>
  
  
   
  <section style="width: 100%;">
    <div class="container-fluid mt-5">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form action="/login" method="post" onsubmit="return allChecking()">
            <!-- Email input -->
            <!-- <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                class="form-control form-control-lg"
                onchange="emailValidate()"
              />
              <span id="Email"></span>
            </div>
            
   -->
            <!-- Password input -->
            <!-- <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control form-control-lg"
                name="password"
                placeholder="password"
                onchange="passwordValidate()"
              />
              <span id="Password"></span>
            </div>
  
            <div
              class="d-flex justify-content-around align-items-center mb-4"
            ></div>
  
            <!-- Submit button -->
            <!-- <button
              type="submit"
              class="btn btn-primary btn-lg btn-block align-items-center"
              value="Login"
              onclick="emailValidate(),passwordValidate()"
            >
              Login
            </button>
  
            <a href="/register">New Register</a><br> -->
            <!-- <a href="../admin/login">Admin Login</a> -->
  
            <!-- <div class="divider d-flex align-items-center my-4">
              <% if(typeof message !=='undefined' ){ %>
              <span><%= message %></span>
              <% } %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script> --> -->
    <!-- // let emailId=document.getElementById("Email")
    function emailValidate(){
     let emailId=document.getElementById("email").value;
      if(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId)==false){
        document.getElementById("Email").innerHTML="Please enter valid email ";
        return false;
      }else{
        document.getElementById("Email").innerHTML="";
        return true;
      }
    }
    function passwordValidate(){
      let password=document.getElementById("password").value;
      if(password.length <8){
        document.getElementById("Password").innerHTML="please enter valied password";
        return false
  
      }else{
        document.getElementById("Password").innerHTML="";
        return true;
      }
    }
    function allChecking(){
      if(emailValidate()&&passwordValidate()){
        return true
      }else{
        return false
      }
    }
</script>  -->
