
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<main>
       
       
        
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Set your new password</h4>
                <form action="/newpasswordadd" method="post">
                    <div class="mb-3">
                        <input name="password" class="form-control" placeholder=" new password" type="password"  required>
                        <input type="hidden" name="oldpassword" value="<%=oldpassword%>">
                    </div> <!-- form-group// -->
                    
                   
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100" style="background-color: rgb(166, 85, 85);" > confirm </button>
                    </div> <!-- form-group// -->
                
       
                </form>
               
        <p class="font-xs">

    </footer>
</main>
<style>
    main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.card-title {
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.btn-primary {
  width: 100%;
}

</style>
</body>
</html>